* {
    /* background-color: #d8dfe2; */
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Permanent Marker", cursive;
    color: #d8dfe2;
    background-image: url(b.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.logo {
    border: solid 2px tomato;
    width: 80px;
    height: 80px;
}
#boxregister {
    border: solid 2px aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
#registration {
    border: solid 2px salmon;
    height: 500px;
    width: 300px;
}
.waitasec {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#waitaseclogo {
    width: 140px;
    height: 140px;
    border-radius: 35px;
}
#profilesection {
    width: 500px;
    height: 100%;
    background-color: grey;
}
#otherprofile {
    width: 500px;
    height: 100%;
    border: 2px solid grey;
    background-color: grey;
    font-size: 10px;
}
.logoutbutton {
    width: 500px;
    height: 200px;
    border: 2px solid black;
    background-color: #d8dfe2;
    font-family: "Permanent Marker", cursive;
}
