* {
    /* background-color: #d8dfe2; */
}
body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    font-family: "Permanent Marker", cursive;
    color: #d8dfe2;
    background-image: url(b.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.logo {
    border: solid 2px tomato;
    width: 80px;
    height: 80px;
}
#boxregister {
    border: solid 2px aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
#registration {
    /* border: solid 2px salmon; */
    height: 500px;
    width: 300px;
}
.waitasec {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#waitaseclogo {
    width: 140px;
    height: 140px;
    border-radius: 35px;
}
#profilesection {
    width: 500px;
    height: 500px;
    background-color: #096386;
    border-radius: 60px;
}
#otherprofile {
    width: 500px;
    height: 500px;
    /* border: 2px solid salmon; */
    background-color: #096386;
    font-size: 10px;
    border-radius: 60px;
}
#otherprofilepic {
    width: 100px;
    height: 100px;
    border-radius: 45px;
}
#nameandsurnameotherprofile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
}
.othername {
    margin: 5px;
    width: 100px;
    height: 100px;
}
.otherbio {
    margin: 5px;
    font-size: 25px;
}
.logoutbutton {
    width: 500px;
    height: 200px;
    border: 2px solid black;
    background-color: #d8dfe2;
    font-family: "Permanent Marker", cursive;
}
#headerofprofile {
    /* border: 2px solid salmon; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
#profilepic {
    width: 100px;
    height: 100px;
    border-radius: 45px;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#friendinfriends {
    /* border: 2px salmon solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80vh;
    height: 180px;
    margin: 30px;
    background-color: #096386;
    border-radius: 30px;
}

#friendsimage {
    width: 150px;
    height: 150px;
    border-radius: 80px;
}
#registrationandloginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logodiv {
    /* border: 2px solid salmon; */
}
#titlemountainlovers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#friendsname {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.names {
    margin: 5px;
}
#logopic {
    width: 120px;
    height: 75px;
    border-radius: 20px;
}
